@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
    font-family: "Raleway", sans-serif !important;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.logo {
    width: 60px;
    height: 60px;
}

.active {
    text-decoration: none;
}
.navlink {
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    font-size: 1.5rem;
}

.topnav {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    position: sticky; /* added space between and made nav bar sticky*/
    top: 0;
    justify-content: space-between;
    z-index: 1;
}

.mainlogo {
    position: absolute;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    width: 78%;
    z-index: 0;
}

.mainvideo {
    position: relative;
    object-fit: contain;
    width: auto;
    height: auto;
    float: inline-start;
    z-index: -1;
}

.phonelogo {
    width: 15px;
    padding-right: 5px;
}
.contactus {
    padding: 50px;
    line-height: 0.6;
}

footer {
    background-color: #808080;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro {
    text-align: center;
    font-size: 30px;
    margin-top: 430px;
    margin-bottom: 33px;
    margin-left: 100px;
    margin-right: 100px;
}

/* changed class names */

.countryTitle {
    font-size: 45px;
    font-weight: bold;
}

.primary-btn {
    background-color: #5a87c1;
    border-radius: 10px;
    border: 0px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 12px 21px;
    text-decoration: none;
}

.primary-btn:hover {
    background-color: #4d74a8;
}

.primary-btn:active {
    position: relative;
    top: 1px;
}

.countryPic img {
    height: 450px;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    margin-top: 0;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.countryTextGrey {
    background-color: #808080;
    color: white;
}

.countryTextWhite {
    color: black;
}

.menuContainer {
    width: 2980px;
}

.container {
    font-weight: bold;
}

/* about us page styling */

.teaminfo {
    font-size: 25px;
    text-align: center;
    padding: 5%;
}

.teamhead {
    line-height: 3;
}

/* country page styling */

.imgheader {
    width: 1970px;
    height: 500px;
    object-fit: cover;
}

.countryheading {
    font-size: 40px;
    text-align: center;
    padding: 2.5%;
    font-weight: bold;
}

.sight {
    text-align: center;
    list-style-position: inside;
    font-size: 20px;
    flex-basis: 40%;
}

.food {
    text-align: center;
    list-style-position: inside;
    font-size: 20px;
    flex-basis: 40%;
}

.countryintro {
    font-size: 25px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

h3 {
    font-size: 25px;
    text-align: center;
    font-weight: 5px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.section p {
    flex-basis: 40%;
    font-size: 20px;
    text-align: center;
}
